<!-- /.row -->

<div class="col-8 mainClass" id="col_YeniKullanici">
    <form method="post" action="/Kullanicilar/KullaniciEkle" >
        <div class="card">
            <div class="card-header" style="background-color:#1dadb6" onclick="AcKapa()">
                <p class="card-title"><b>Kullanıcı Ekle</b></p>
            </div>
            <!-- /.card-header -->
            <div class="card-body" id="body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Kullanıcı Adı</label>
                            <input type="text" class="form-control" name="KullaniciAd" required>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Kullanıcı Parolası</label>
                            <input type="text" class="form-control" name="KullaniciParolasi" required>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Adı</label>
                            <input type="text" class="form-control" name="Ad" required>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Soyadı</label>
                            <input type="text" class="form-control" name="Soyad" required>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Kurum Sicil Numarası</label>
                            <input type="text" class="form-control" name="SicilNo" required>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>E posta</label>
                            <input type="email" class="form-control" name="Eposta" required>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Telefon</label>
                            <input type="text" class="form-control" name="Telefon" maxlength="11">
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Kullanıcı Türü</label>
                            <select class="form-control select2" style="width: 100%;" name="KullaniciTuru">
                                <option value="1">Teknik Destek</option>
                                <option value="2">Otomasyon Yöneticisi</option>
                                <option value="3">Operatör</option>
                            </select>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Aktif</label>
                            <br />
                            <input type="checkbox" name="Aktif" value="true" checked data-bootstrap-switch>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-block btn-outline-info">Ekle</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-block btn-outline-info" disabled>Güncelle</button>
                        </div>
                    </div>
                    <br />





                </div>

            </div>
            <!-- /.card -->
        </div>
    </form>
</div>


<script>

    // A $( document ).ready() block.
   
    function AcKapa() {
        $("#body").animate({
            height: 'toggle'
        });
    }
</script>
